@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Decision Type</th>
                <th scope="col">Responsible</th>
                <th scope="col">Reason</th>
                <th scope="col">Timestamp</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @if (Model.ManualApprovals != null)
            {
                @foreach (var approval in Model.ManualApprovals)
                {
                    <tr>
                        <td>@approval.Id</td>
                        <td>@approval.DecisionType</td>
                        <td>@approval.Responsible</td>
                        <td>@approval.Reason</td>
                        <td>@approval.Timestamp</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
